.chat-window-container {
  flex: 1;
  padding: 23rem 23rem; 
  overflow-y: auto;
  background-color: #f9fafc;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.message {
  padding: 0.75rem 1rem;
  border-radius: 12px;
  margin: 0.25rem 0;
}

.message-buttons {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
}

.message-buttons i {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.message-buttons i:hover {
  opacity: 1;
}

.user-message {
  max-width: 60%;
  background-color: #dbeafe;
  border-top-right-radius: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
.bot-message pre {
  background: #1e1e1e;
  color: #d4d4d4;
  padding: 1rem;
  border-radius: 8px;
  overflow-x: auto;
  font-size: 0.9rem;
  white-space: pre-wrap; /* Wrap long lines */
  max-width: 60vw;
}
