.chat-window-container {
  flex: 1 1 0%;
  min-height: 0;
  max-height: 100%;
  padding: 5rem 23rem 15rem 23rem; /* top right bottom left */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
    scrollbar-width: thin;
}

.messages-container {
  display: flex;
  width: 100%;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-start {
  justify-content: flex-start;
}

.message {
  padding: 0.75rem 1rem;
  border-radius: 12px;
  margin: 0.25rem 0;
}

.message-buttons {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
}

.message-buttons i {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.message-buttons i:hover {
  opacity: 1;
}

.user-message {
  max-width: 60%;
  background-color: #f3f3f3;
  border-top-right-radius: 0;
  
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
.bot-message pre {
  background: #03070D;
  padding: 1rem;
  border-radius: 8px;
  overflow-x: auto;
  font-size: 0.9rem;
  white-space: pre-wrap; 
  max-width: 60vw;
}
