<div #chatWindow class="chat-window-container">
  <div
    *ngFor="let msg of chatService.messages; let i = index"
    class="d-flex"
    [ngClass]="{
      'justify-content-end': msg.sender === 'You',
      'justify-content-start': msg.sender !== 'You'
    }"
  >
    <div
      [ngClass]="{
        'user-message': msg.sender === 'You',
        'bot-message': msg.sender !== 'You'
      }"
      class="message"
    >
      <!-- SQL code block for bot messages -->
      <ng-container *ngIf="msg.sender !== 'You' && isSQL(msg.text); else plainText">
        <pre><code class="language-sql">{{ msg.text }}</code></pre>
      </ng-container>

      <ng-template #plainText>
        <div class="text">{{ msg.text }}</div>
      </ng-template>

      <div class="message-buttons">

      <!-- Copy icon: always shown for bot messages -->
      <div
        *ngIf="msg.sender !== 'You'"
        class="copy-icon"
        (click)="copyMessage($event, msg.text, i)"
        title="Copy to clipboard"
      >
        <i
          [class]="
            copiedIndex === i
              ? 'bi bi-clipboard2-check-fill'
              : 'bi bi-clipboard2'
          "
        ></i>
      </div>

      <!-- Execute icon: only if SQL and awaiting execution -->
      <div
        *ngIf="msg.awaitingExecution"
        class="execute-icon"
        (click)="executeQuery(msg.sql ?? msg.text, i)"
        title="Execute the query"
      >
        <i class="bi bi-play-circle"> Execute this query</i>
      </div>

      </div>
    </div>
  </div>
</div>
