<div class="login-container">
  <div class="login-box">
    <h2>Login</h2>
    <div class="subtitle">Access to your account</div>
    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
     <div class="form-group">
  <span class="input-icon"><i class="bi bi-at"></i></span>
  <input
    type="email"
    id="email"
    name="email"
    [(ngModel)]="email"
    required
    placeholder="Username"
    class="grey-placeholder"
  />
</div>

<div class="form-group password-group">
  <span class="input-icon"><i class="bi bi-lock"></i></span>
  <input
    [type]="showPassword ? 'text' : 'password'"
    id="password"
    name="password"
    [(ngModel)]="password"
    required
    placeholder="Password"
    class="grey-placeholder"
  />
  <button type="button" class="eye-btn" (click)="togglePassword()" tabindex="-1">
    <i class="bi" [ngClass]="showPassword ? 'bi-eye' : 'bi-eye-slash'"></i>
  </button>
</div>

      <button type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>
  </div>
</div>