/* You can add global styles to this file, and also import other style files */
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "prismjs/themes/prism-tomorrow.css";
body, html {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #000000;
  background-color: #ffffff;
    /* background:linear-gradient(#DCD8FB, #ffffff); */
}

button {
  background-color: #0B57D0;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #0b4ab0;
}

input {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 12px;
  /* Copilot-like shadow: strong on bottom and right */
  box-shadow:
    0 4px 5px 0 rgba(93, 97, 100, 0.18),   /* bottom shadow */
    4px 0 5px 0 rgba(93, 97, 100, 0.18) /* right shadow */
}